.issue-row {
  cursor: pointer; }
  .issue-row .issue-row-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px; }
  .issue-row .first-line {
    color: #343434;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 10px; }
