.table-row {
  cursor: pointer;
  .table-row-wrapper {
    display: block;
    align-items: center;
    justify-content: space-between;
    background: #343434;
    padding-left: 15px;
    color: #f1f1f1;
  }
  h4 {
    color: #f1f1f1;
    text-align: center;
    font-size: 20px;
  }
}